<!DOCTYPE html>
<html lang="en">
    <head>
        <title>North Atlantic Cleaning</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="NatCSS.css" >
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/94909f1aa7.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>

    <body style="font-family: 'Roboto Slab', serif;" ng-app="myApp" ng-controller="myCtrl">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html">North Atlantic Cleaning</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home
                        <!-- <span class="sr-only">(current)</span> -->
                        </a>
                </li>
                &nbsp; &nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="#services">Services</a>
                </li>
                &nbsp; &nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="#pricing">Pricing</a>
                </li>
                &nbsp; &nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
                &nbsp; &nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="#careers">Careers</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>    
        

    <!-- carousel section -->
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <!-- <div class="carousel-item " style="background-image: url('images/ashwini-chaudhary-Iu6parQAO-U-unsplash.jpg')">
              <div class="carousel-caption d-none d-md-block">
                <h3 class="display-4"><a href="#pricing">Clean for as low as $20</a></h3>
                <h3 class="display-4" style="color: rgb(71, 102, 238);">Clean for as low as $20</h3>
                <h3><a class="btn btn-primary btn-lg" href="#pricing">Get Started</a></h3>
                <p class="lead"><a href="#pricing">Ready. Set. Clean</a></p>
              </div>
            </div> -->
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('images/the-honest-company-Ua9AK-pZ5cw-unsplash.jpg')">
              <div class="carousel-caption d-none d-md-block">
                <h3 class="display-4" style="color: rgb(13, 13, 14);">Clean for as low as $20</h3>
                <h3><a class="btn btn-primary btn-lg" href="#pricing">Get Started</a></h3>
                <!-- <h3 class="display-4"><a href="#pricing">Clean for as low as $20</a></h3> -->
                <!-- <p class="lead"><a href="#pricing">Ready. Set. Clean</a></p> -->
              </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('images/cdc-VRpjDw3WqqI-unsplash.jpg')">
              <div class="carousel-caption d-none d-md-block">
                <!-- <h3 class="display-4"><a href="#pricing">Clean for as low as $20</a></h3> -->
                <h3 class="display-4" style="color: black;">Clean for as low as $20</h3>
                <h3><a class="btn btn-primary btn-lg" href="#pricing">Get Started</a></h3>
                <!-- <p class="lead"><a href="#pricing">Ready. Set. Clean</a></p> -->
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>
    </header>
    <br><br>
    

        <!-- About section -->
        <!-- merh 
        <section id="about" class="py-5">
            <div class="container">
              <h1 class="font-weight-light">Half Page Image Slider</h1>
              <p class="lead">The background images for the slider are set directly in the HTML using inline CSS. The images in this snippet are from <a href="https://unsplash.com">Unsplash</a>!</p>
            </div>
          </section>
        -->
        <section id="about" class="container-fluid" class="py-5">
            <br>
            <!-- <h2 style="text-align: center;">About</h2>
            <br> -->
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div><img src='images/sponge.png' width='100%' height='100%'></div>
                    </div>
                    <div class="col">
                        <div>
                            <h4 style="text-align: center;">What makes us different ?</h4>
                            <p style="text-align: center;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of about section -->

        <!-- Services section -->
        <hr>
        <section id="services" class="container">
            <br>
            <h2 style="text-align: center;">Our Services</h2>
            <br>
            <div class="row">
                <div class="col">
                    <div class="card text-center border-0">
                        <div class="card-body">
                            <div><img src="asset/house.png" width="100" height="100"></div>
                            <br>
                            <h4>Regular Domestic Cleaning Services</h4>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-center border-0">
                        <div class="card-body">
                            <div><img src="asset/bus.png" width="100" height="100"></div>
                            <br>
                            <h4>Move in/out Cleaning Services</h4>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-center border-0">
                        <div class="card-body">
                            <div><img src="asset/office.png" width="100" height="100"></div>
                            <br>
                            <h4>Office Cleaning Services</h4>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="card text-center border-0">
                        <div class="card-body">
                            <div><img src="asset/construct.png" width="100" height="100"></div>
                            <br>
                            <h4>Construction Cleaning Services</h4>
                        </div>
                    </div>
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
            </div>
            <br><br>
            <br><br>
        </section>
        <!-- End of services section -->

        <!-- Pricing section -->
        
        <section  id="pricing" style="background-color: rgb(246, 249, 255);">
            <div class="container">     
                <br>
                <h2 style="text-align: center; ">Pricing</h2>
                <br>
                <div class="card border-0">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Choose service:</label>
                            <select class="form-control" ng-model="service" ng-change="serviceChange()">
                                <option>Regular Domestic Cleaning</option>
                                <option>Move in/out Cleaning</option>
                                <option>Office Cleaning</option>
                                <option>Construction Cleaning</option>
                            </select>
                        </div>
                         <div class="form-group">
                            <label> {{ serviceType }}</label>
                        </div> 
                        <div ng-show="domesticShow">
                            <div class="form-group">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <input type="checkbox" class="form-check-input" value="1" checked=checked>
                                                <label class="form-check-label">
                                                    Bedroom
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <input type="number" class="form-check-input" value="2">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <input type="checkbox" class="form-check-input" value=""checked=checked>
                                                <label class="form-check-label">
                                                    Sitting area/dinning
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <input type="number" class="form-check-input" value="1">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <input type="checkbox" class="form-check-input" value="" checked=checked>
                                                <label class="form-check-label">
                                                    Kitchen
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <input type="number" class="form-check-input" value="1">
                                            </div>
                                        </div>
                                    </div>  
                                </div>
                            </div> 
                            <br><br>
                            <div class="form-group">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <input type="checkbox" class="form-check-input" value="" checked=checked>
                                                <label class="form-check-label">
                                                    Light Bathroom/Toilet cleaning
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <input type="number" class="form-check-input" value="1">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <input type="checkbox" class="form-check-input" value="" >
                                                <label class="form-check-label">
                                                    Deep Bathroom/Toilet cleaning
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <input type="number" class="form-check-input" value="">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <input type="checkbox" class="form-check-input" value="">
                                                <label class="form-check-label">
                                                    Stain remover
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <input type="number" class="form-check-input" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                            <div class="form-group">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <input type="checkbox" class="form-check-input" value="">
                                                <label class="form-check-label">
                                                    Washing dishes (machine)
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <input type="number" class="form-check-input" value="">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <input type="checkbox" class="form-check-input" value="">
                                                <label class="form-check-label">
                                                    Washing dishes (hand wash)
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <input type="number" class="form-check-input" value="">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <input type="checkbox" class="form-check-input" value="">
                                                <label class="form-check-label">
                                                    Microwave cleaning
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <input type="number" class="form-check-input" value="">
                                            </div>
                                        </div>
                                    </div>   
                                </div>
                            </div>      
                            <br><br>    
                            <div class="form-group">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <input type="checkbox" class="form-check-input" value="">
                                                <label class="form-check-label">
                                                    Laundry
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <input type="number" class="form-check-input" value="">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <input type="checkbox" class="form-check-input" value="">
                                                <label class="form-check-label">
                                                    Refrigerator cleaning
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <input type="number" class="form-check-input" value="">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <input type="checkbox" class="form-check-input" value="">
                                                <label class="form-check-label">
                                                    Kitchen hood cleaning
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <input type="number" class="form-check-input" value="">
                                            </div>
                                        </div>
                                    </div>   
                                </div>
                            </div> 
                            <br><br>    
                            <div class="form-group">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <input type="checkbox" class="form-check-input" value="">
                                                <label class="form-check-label">
                                                    Couch cleaning
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <input type="number" class="form-check-input" value="">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <input type="checkbox" class="form-check-input" value="">
                                                <label class="form-check-label">
                                                    Oven cleaning service
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <input type="number" class="form-check-input" value="">
                                            </div>
                                        </div>
                                        <div class="col">
                                        </div>
                                    </div>  
                                </div>
                            </div>         
                        </div>
                        <div ng-show="moveShow">
                            <div class="form-group">
                                <label for="sel1">Type of Move in/out service:</label>
                                <select class="form-control" ng-model="moveService" ng-change="moveServiceChange()">
                                    <option>Relocation cleaning service</option>
                                    <option>Before & after party cleaning</option>
                                    <option>Spring & Summer cleaning</option>
                                    <option>Stain remover</option>
                                </select>
                            </div> 
                            <div class="form-group" ng-show="moveRoomShow">
                                <label for="sel1">room(s)</label>
                                <input type="number" class="form-control" value="2">
                            </div> 
                            <div class="form-group" ng-show="moveStainShow">
                                <label for="sel1">stain(s)</label>
                                <input type="number" class="form-control" value="1">
                            </div> 
                        </div>
                        <br><br>
                        <div class="form-group">
                            <label> <h4> {{ price }} </h4></label>
                        </div>
                        
                        <div class="form-group">
                            <button class="btn btn-primary btn-block">Book Service</button>
                        </div>
                        
                    </div>
                </div>
                <br><br>
            </div>
        </section> 
        <!-- End of pricing section -->

        <!-- Contact section -->
        <!-- <section class="container" id="contact"> -->
       
        <!-- <section class="container" id="contact">
            <br>
            <h2 style="text-align: center;">Contact Us</h2>
            <br>
            <div class="card border-0">
                <div class="card-body">
                    <div class="form-group">
                        <label for="usr">Name:</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="usr">Email:</label>
                        <input type="text" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="usr">Phone number:</label>
                        <input type="tel" class="form-control" id="phoneNum" pattern="^\d{4}-\d{3}-\d{4}$" required>
                    </div>
                    <div class="form-group">
                        <label for="comment">Message:</label>
                        <textarea class="form-control" rows="5" id="message"></textarea>
                    </div>

                    <div class="text-center text-md-left">
                        <a class="btn btn-primary" onclick="validateForm();">Send</a>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- End of contact section -->
        <!--Section: Contact v.2-->
        
        <section class="container" id="contact">
            <!--Section heading-->
            <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
            <!--Section description-->
            <div class="card border-0">
                <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
                    a matter of hours to help you.</p>
                <div class="card-body"></div>
                    <form id="contact-form" name="contact-form" action="norAtl.php" method="POST">

                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <label for="name" class="">Your name</label>
                                    <input type="text" id="name" name="name" class="form-control">
                                </div>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <label for="email" class="">Your email</label>
                                    <input type="text" id="email" name="email" class="form-control">
                                </div>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <label for="subject" class="">Subject</label>
                                    <input type="text" id="subject" name="subject" class="form-control">
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <label for="phoneNum" class="">Phone Number</label>
                                    <input type="tel" id="phoneNum" name="phoneNum" class="form-control">
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-md-12">
                                <div class="md-form">
                                    <label for="message">Your message</label>
                                    <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->
                    </form>
                    
                    <br>
                    <div class="text-center text-md-left">
                        <button class="btn btn-primary" onclick="validateForm();">Send</button>
                    </div>
                    <div class="status"></div>
                    <br>
                </div>
            </div>
                <!--Grid column
                <div class="col-md-3 text-center">
                    <ul class="list-unstyled mb-0">
                        <li><i class="fas fa-map-marker-alt fa-2x"></i>
                            <p>Address Here</p>
                        </li>

                        <li><i class="fas fa-phone mt-4 fa-2x"></i>
                            <p>Phone Number Here</p>
                        </li>

                        <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                            <p>Email Here</p>
                        </li>
                    </ul>
                </div>
                Grid column-->
        </section>


        <!-- Career section -->
        
        <section id="careers" style="background-color: rgb(236, 236, 236);">
            <div class="container" >
                <br>
                <h2 style="text-align: center;">Careers</h2>
                <br>
                <div class="row">
                    <div class="col">
                        <h4>Join Our Motivated Team</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum.
                        </p>

                    </div>
                    <div class="col">
                        <h6>Steps to join</h6>
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#collapseOne" style="color: black;">
                                        Step 1
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                    <div class="card-body">
                                        Lorem ipsum..
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo" style="color: black;">
                                        Step 2
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        Lorem ipsum..
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree" style="color: black;">
                                        Step 3
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        Lorem ipsum..
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <h6>Contact us directly at careers@northatlanticcleaning.com for more details</h6>
                    </div>
                </div>

                    <br><br><br>
            </div>
        </section>
        <!-- End of career section -->

        <!-- Footer section -->
        <section style="background-color: rgb(27, 27, 27);">
            <div class="container" style="color: white;">
                <br>
                <br>
                <div class="row">
                    <div class="col">
                        <h4>North Atlantic Cleaning</h4>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                              <a class="nav-link" href="#"  style="color: white;">Home</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#about"  style="color: white;">About</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#pricing"  style="color: white;">Pricing</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#contact"  style="color: white;">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <h6>Contact</h6>
                        <h6>services@northatlanticcleaning.com</h6>
                    </div>
                    <div class="col">
                        © 2020 North Atlantic Cleaning.
                    </div>
                </div>
                <br>
            </div>
        </section>
        <!-- End of footer section -->

        <!--AngularJs Script-->
        <script>
            var app = angular.module('myApp', []);
            app.controller('myCtrl', function($scope) {
                $scope.domesticShow = false ;
                $scope.moveShow = false ;
                $scope.moveStainShow = false ;
                $scope.moveRoomShow = false ;
                $scope.serviceType = "" ;
                $scope.price = "" ;
                $scope.moveServiceChange = function(){
                    if($scope.moveService == "Relocation cleaning service"){
                        $scope.moveRoomShow = true ;
                        $scope.moveStainShow = false ;
                    }else if($scope.moveService == "Before & after party cleaning"){
                        $scope.moveRoomShow = true ;
                        $scope.moveStainShow = false ;
                    }else if($scope.moveService == "Spring & Summer cleaning"){
                        $scope.moveRoomShow = true ;
                        $scope.moveStainShow = false ;
                    }else if($scope.moveService == "Stain remover"){
                        $scope.moveRoomShow = false ;
                        $scope.moveStainShow = true ;
                    }
                }
                $scope.serviceChange = function(){
                    if($scope.service == "Regular Domestic Cleaning"){
                        $scope.domesticShow = true ;
                        $scope.moveShow = false ;
                        $scope.serviceType = "Check List based on Regular Domestic Cleaning Service" ;
                        $scope.price = "Total price: $21" ;
                    }else if($scope.service == "Move in/out Cleaning"){
                        $scope.domesticShow = false ;
                        $scope.moveShow = true ;
                        $scope.serviceType = "Check List based on Move in/out Cleaning Service" ;
                        $scope.price = "" ;

                    }else if($scope.service == "Office Cleaning"){
                        $scope.domesticShow = false ;
                        $scope.moveShow = false ;
                        $scope.serviceType = "Contact us directly at services@northatlanticcleaning.com for more details" ;
                        $scope.price = "" ;

                    }else if($scope.service == "Construction Cleaning"){
                        $scope.domesticShow = false ;
                        $scope.moveShow = false ;
                        $scope.serviceType = "Contact us directly at services@northatlanticcleaning.com for more details" ;
                        $scope.price = "" ;
                    }
                }

            
            });
        </script>
        <!--End of AngularJs Script-->


        <!--Form Validation Script-->
        <script>
            function validateForm() {
            document.getElementById('status').innerHTML = "Sending...";
            formData = {
                'name'     : $('input[name=name]').val(),
                'subject'  : $('input[name=subject]').val(),
                'email'    : $('input[name=email]').val(),
                'phoneNum'  : $('input[name=phoneNum]').val(),
                'message'  : $('textarea[name=message]').val()
                };
        
        
            $.ajax({
            url : "mail.php",
            type: "POST",
            data : formData,
            success: function(data, textStatus, jqXHR)
                {
                    $('#status').text(data.message);
                    if (data.code) //If mail was sent successfully, reset the form.
                    $('#contact-form').closest('form').find("input[type=text], textarea").val("");
                },
            error: function (jqXHR, textStatus, errorThrown)
                {
                    $('#status').text(jqXHR);
                }
            });
        }
        </script>
        
    </body>
</html>